<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/0/07/Ala-Too_International_University_Seal.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-light bg-dark">
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1 th:text="${title }"></h1>
    <p>This web application is a container where CS lecturers and students suggest and share information for studying.</p>
    <p> Learn by provided materials and share links for cool web sites, articles, courses, lectures related to CS if you would like to.</p>
    <p><a href="swagger-ui.html">Api Documentation</a></p>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>

</body>
</html>