<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/0/07/Ala-Too_International_University_Seal.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Edit article</h1>
    <div th:each="el : ${post}">
        <form method="post">
            <input type="text" th:value="${el.title}" name="title" placeholder="Type a title" class="form-control"><br>
            <input type="text" th:value="${el.anons}" name="anons" placeholder="Type an anons" class="form-control"><br>
            <textarea name="full_text" placeholder="Type a full text" class="form-control" th:text="${el.full_text}"/><br>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>


    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>