<div th:fragment="footer">
    <footer class="text-light bg-dark pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <!--<img class="mb-2" src="https://upload.wikimedia.org/wikipedia/en/0/07/Ala-Too_International_University_Seal.png" alt="" width="20" height="20">-->
                <small class="d-block mb-3 text-muted">© 2021</small>
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="https://www.youtube.com/channel/UCoCCLAunxHfYLNxB3f5y1cw">YouTube</a></li>
                    <li><a class="link-secondary" href="https://github.com/ainazimo">GitHub</a> </li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Contacts</h5>
                <ul class="list-unstyled text-small">
                    <li><p>     @nazikkkko (Telegram)</p></li>
                    <li><p>E-mail: ainazik.momunalieva@iaau.edu.kg</p></li>
                </ul>
            </div>
        </div>
    </footer>
</div>