<div th:fragment="footer">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/en/0/07/Ala-Too_International_University_Seal.png" alt="" width="24" height="19">
                <small class="d-block mb-3 text-muted">© 2021</small>
            </div>
            <div class="col-6 col-md">
                <h5>Contacts</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="https://www.instagram.com/alatoo.edu.kg/">Instagram</a></li>
                    <li><a class="link-secondary" href="https://vk.com/aiuedukg">VK</a></li>
                    <li><a class="link-secondary" href="https://www.youtube.com/channel/UCRwPUKmeoiUausG3luv7d3Q">YouTube</a></li>
                    <li><a class="link-secondary" href="https://twitter.com/alatooedukg/">Twitter</a></li>
                    <li><a class="link-secondary" href="https://www.facebook.com/AlaTooInternationalUniversity/">facebook</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><p>Tel: +996 (312) 631425 </p></li>
                    <li><p>     +996 (312) 630407 </p></li>
                    <li><p>     +996 555 820 000 (WhatsApp)</p></li>
                    <li><p>Fax: +996 (312) 630409 </p></li>
                    <li><p>E-mail: info@alatoo.edu.kg</p></li>
                    <li><p>Buses: 5,6, 7, 102, 105, 128, 137, 147, 154, 166, 258, 262 </p></li>
                </ul>
            </div>
        </div>
    </footer>
</div>